<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
    <div class="container">
        <a class="navbar-brand text-white" href="#">CROP DEAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-black"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li>
                    <div class="dropdown">
                        <button  class="dropbtn">Profile</button>
                        <div class="dropdown-content">
                            <a [routerLink]="['/dealer/updatedealer',dealerName]">Update Profile</a>
                            <a [routerLink]="['/dealer/viewdealer',dealerName]">View Profile</a>
                        </div>
                      </div>
                    </li>
               
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/dealer/viewcrop">View Crop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="logout()">LogOut</a>
                </li>
               

                

            </ul>
        </div>
    </div>
</nav>
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
   
</div>
<router-outlet></router-outlet>

