<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">




<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
    <div class="container">
        <a class="navbar-brand text-white" href="#">CROP DEAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-black"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="cropdeal/login">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <!-- <div class="content text-center"> <br><br>
        <div class="text-size-h1 text-white">Crop</div><br>
        <p class="text-grey">Agrikon is an Agro based website, enabling and creating concrete paths for the
            Farmers<br>and the Dealers to sell and buy quality crops through technology and ideas</p><br>
        <button class="button-css" onclick="window.location.href='#about'">READ MORE</button>
    </div> -->
</div>

<div class="container my-5 d-grid gap-5 content text-center" id="about">
    <div class="p-5 border">
        <div class="fade-scroll">
            <h2><span><b>
                        About Us</b></span>
            </h2>
        </div><br>
        <p class="animation appears-delayed text-black">Crop Deal is an Agro based website,
            enabling and creating concrete paths for the Farmers and the Dealers to sell and buy quality
            crops through technology and ideas. This Web Application has two service for the Farmers and the
            Dealers respectively. While, the Farmers can add their crops on the site, having access to
            modify, update and remove their added crops keeping in mind that they maintain the transperacy of
            their added details throughout. On the other hand, Dealers can buy crops that were added by the
            payment after thoroughly checking the quality, quantity and amount as per their needs and
            requirements. Quality, transparent and pocket friendly datas are our main priority.
            <br><br><b>Hope you have a great tour here!! Reach out to us for feedbacks and complaints.</b>
        </p>
        <br><button class="button-css-contact" onclick="window.location.href='#contact'">CONTACT US</button>
    </div>
</div>
<!-- Gallery -->
<div class="container my-5 d-grid gap-5 content text-center" id="gallery">
    <div class="p-5 border">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-9  mx-auto">
                    <h2><span><b>
                                Take A Look At Our Gallery</b></span>
                    </h2>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-box"><img src="/assets/Images/image1.jpg" class="img-fluid" alt=""></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-box"><img src="/assets/Images/image2.jpg" class="img-fluid" alt=""></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-box"><img src="/assets/Images/image3.jpg" class="img-fluid" alt=""></div>
                        </div>
                    </div>
                    <br>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-box"><img src="/assets/Images/home2.jpg" class="img-fluid" alt=""></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-box"><img src="/assets/Images/image4.jpg" class="img-fluid" alt=""></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-box"><img src="/assets/Images/image5.jpg" class="img-fluid" alt=""></div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- Contact us -->
<!-- Contact Us Section -->
<section class="contact-us" id="contact">

    <div class="container" style="margin-bottom: -50px;">
        <div class="row">
            <div class="col-md-12 text-black text-center" style="margin-top: -10px;">
                <h2><span><b>
                            Contact</b></span>
                </h2>
               
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-lg-7">
                <form action="/" class="mb-4 mb-lg-0">
                    <div class="card">
                        <div class="card-body">
                          
                          <h4 class="card-title">CropDeal Management Service</h4>
                          <h5 class="card-text">Praveena M</h5>
                          <p class="card-text">PHONE NUMBER : 9087654312</p>
                          <p class="card-text">EMAIL ADDRESS: cropdeal@gmail.com</p>
                          <p class="card-text">ADDRESS : 5th street,<br>TownHall road,<br>Coimbatore-654123.</p>
                          
                        </div>
                      </div>
                </form>
            </div>


        </div>
    </div>

</section>